<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vipey Visualization</title>
    <script type="module" crossorigin src="/assets/index-03c6ddfd.js"></script>
    <link rel="stylesheet" href="/assets/index-b94bbcda.css">
  </head>
  <body>
    <div id="root"></div>
    <script id="storyboard-data" type="application/json">
      %%VIPEY_STORYBOARD_DATA%%
    </script>
    
  </body>
</html>